{% extends 'admin/adminhome_index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
    <style type="text/css">
        tr{
            color: white;
        }
    </style>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-bordered">
    <tr style="background-color: #ff663b">
       <th scope="col">#</th>
      <th scope="col">Alphabets</th>
      <th scope="col">Images</th>
      <th scope="col">Action</th>
    </tr>
      {% for i in data %}
    <tr style="color: black">
      <td>&nbsp;{{ loop.index }}</td>
      <td>{{ i.aname }}</td>
      <td><img src="{{ i.photo }}" height="100" width="100"/> &nbsp;</td>
      <td><a href="/delete_alphabets/{{ i.aid }}" onclick="return confirm('Are you sure to delete?')"><img src="/static/delete.png" height="30" width="30" alt=""/></a> </td>
    </tr>
      {% endfor %}
  <tr><td colspan="4" align="right"><a href="/alphabets_add#aaa"><img src="/static/plus.png" height="50" width="50" alt=""/></a> </td> </tr>
  </table>
</form>
</body>
</html>
{% endblock %}